<header>
  <p><a href="/Alabama">Alabama</a></p>
  <p><a href="/Alaska">Alaska</a></p>
  <p><a href="/Arizona">Arizona</a></p>
  <p><a href="/Arkansas">Arkansas</a></p>
  <p><a href="/California">California</a></p>
  <p><a href="/Colorado">Colorado</a></p>
  <p><a href="/Connecticut">Connecticut</a></p>
  <p><a href="/Delaware">Delaware</a></p>
  <p><a href="/Florida">Florida</a></p>
  <p><a href="/Georgia">Georgia</a></p>
  <p><a href="/Hawaii">Hawaii</a></p>
  <p><a href="/Idaho">Idaho</a></p>
  <p><a href="/Illinois">Illinois</a></p>
  <p><a href="/Indiana">Indiana</a></p>
  <p><a href="/Iowa">Iowa</a></p>
  <p><a href="/Kansas">Kansas</a></p>
  <p><a href="/Kentucky">Kentucky</a></p>
  <p><a href="/Louisiana">Louisiana</a></p>
  <p><a href="/Maine">Maine</a></p>
  <p><a href="/Maryland">Maryland</a></p>
  <p><a href="/Massachusetts">Massachusetts</a></p>
  <p><a href="/Michigan">Michigan</a></p>
  <p><a href="/Minnesota">Minnestoa</a></p>
  <p><a href="/Mississippi">Mississippi</a></p>
  <p><a href="/Missouri">Missouri</a></p>
  <p><a href="/Montana">Montana</a></p>
  <p><a href="/Nebraska">Nebraska</a></p>
  <p><a href="/Nevada">Nevada</a></p>
  <p><a href="/New_Hampshire">New Hampshire</a></p>
  <p><a href="/New_Jersey">New Jersey</a></p>
  <p><a href="/New_Mexico">New Mexico</a></p>
  <p><a href="/New_York">New York</a></p>
  <p><a href="/North_Carolina">North Carolina</a></p>
  <p><a href="/North_Dakota">North Dakota</a></p>
  <p><a href="/Ohio">Ohio</a></p>
  <p><a href="/Oklahoma">Oklahoma</a></p>
  <p><a href="/Oregon">Oregon</a></p>
  <p><a href="/Pennsylvania">Pennsylvania</a></p>
  <p><a href="/Rhode_Island">Rhode Island</a></p>
  <p><a href="/South_Carolina">South Carolina</a></p>
  <p><a href="/South_Dakota">South Dakota</a></p>
  <p><a href="/Tennessee">Tennessee</a></p>
  <p><a href="/Texas">Texas</a></p>
  <p><a href="/Utah">Utah</a></p>
  <p><a href="/Vermont">Vermont</a></p>
  <p><a href="/Virginia">Virginia</a></p>
  <p><a href="/Washington">Washington</a></p>
  <p><a href="/West_Virginia">West Virginia</a></p>
  <p><a href="/Wisconsin">Wisconsin</a></p>
  <p><a href="/Wyoming">Wyoming</a></p>
</header>
