<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Abbreviation Key</title>
  </head>

  <body>

    <h1>{{pageTitle}}</h1>

    <p><a href="/">Home</a></p>
    <p><a href="/List">List of States</a></p>

    <p>Senator political affiliation with abbreviations:</p>

    <p><a href="https://en.wikipedia.org/wiki/Republican_Party_(United_States)">Republican</a> (R)</p>
    <p><a href="https://en.wikipedia.org/wiki/Democratic_Party_(United_States)">Democrat</a> (D)</p>
    <p><a href="https://en.wikipedia.org/wiki/Independent_politician#United_States">Independent</a> (I)</p>

    {{> footer}}
  </body>
</html>
