<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alabama</title>
  </head>

  <body>
    <h1>{{pageTitle}}</h1>

    <p><a href="https://en.wikipedia.org/wiki/Richard_Shelby">Richard Shelby</a> (R)</p>
    <p><a href="https://en.wikipedia.org/wiki/Doug_Jones_(politician)">Doug Jones</a> (D)</p>

    <p>Important Links:</p>
    <p><a href="/List">List of States</a></p>
    <p><a href="/Key">Party Abbreviation Key</a></p>

    {{> footer}}
  </body>
</html>
