<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>U.S. Senators by State</title>
  </head>

  <body>
    <h1>{{pageTitle}}</h1>

    <p>A page by page list of U.S. Senator by state with political
      affiliation.</p>

    <p><a href="/List">List of States</a></p>
    <p><a href="/Key">Party Abbreviation Key</a></p>


    {{> footer}}
  </body>
</html>
