<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maine</title>
  </head>

  <body>
    <h1>{{pageTitle}}</h1>

    <p><a href="https://en.wikipedia.org/wiki/Susan_Collins">Susan Collins</a> (R)</p>
    <p><a href="https://en.wikipedia.org/wiki/Angus_King">Angus King</a> (I)</p>

    <p>Important Links:</p>
    <p><a href="/List">List of States</a></p>
    <p><a href="/Key">Party Abbreviation Key</a></p>

    {{> footer}}
  </body>
</html>
