<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Montana</title>
  </head>

  <body>
    <h1>{{pageTitle}}</h1>

    <p><a href="https://en.wikipedia.org/wiki/Jon_Tester">Jon Tester</a> (D)</p>
    <p><a href="https://en.wikipedia.org/wiki/Steve_Daines">Steve Daines</a> (R)</p>

    <p>Important Links:</p>
    <p><a href="/List">List of States</a></p>
    <p><a href="/Key">Party Abbreviation Key</a></p>

    {{> footer}}
  </body>
</html>
