<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Jersey</title>
  </head>

  <body>
    <h1>{{pageTitle}}</h1>

    <p><a href="https://en.wikipedia.org/wiki/Bob_Menendez">Bob Menendez</a> (D)</p>
    <p><a href="https://en.wikipedia.org/wiki/Cory_Booker">Cory Brooker</a> (D)</p>

    <p>Important Links:</p>
    <p><a href="/List">List of States</a></p>
    <p><a href="/Key">Party Abbreviation Key</a></p>

    {{> footer}}
  </body>
</html>
