<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>North Dakota</title>
  </head>

  <body>
    <h1>{{pageTitle}}</h1>

    <p><a href="https://en.wikipedia.org/wiki/John_Hoeven">John Hoeven</a> (R)</p>
    <p><a href="https://en.wikipedia.org/wiki/Heidi_Heitkamp">Heidi Heitkamp</a> (D)</p>

    <p>Important Links:</p>
    <p><a href="/List">List of States</a></p>
    <p><a href="/Key">Party Abbreviation Key</a></p>

    {{> footer}}
  </body>
</html>
