<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Oregon</title>
  </head>

  <body>
    <h1>{{pageTitle}}</h1>

    <p><a href="https://en.wikipedia.org/wiki/Ron_Wyden">Ron Wyden</a> (D)</p>
    <p><a href="https://en.wikipedia.org/wiki/Jeff_Merkley">Jeff Merkley</a> (D)</p>

    <p>Important Links:</p>
    <p><a href="/List">List of States</a></p>
    <p><a href="/Key">Party Abbreviation Key</a></p>

    {{> footer}}
  </body>
</html>
