<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vermont</title>
  </head>

  <body>
    <h1>{{pageTitle}}</h1>

    <p><a href="https://en.wikipedia.org/wiki/Patrick_Leahy">Patrick Leahy</a> (D)</p>
    <p><a href="https://en.wikipedia.org/wiki/Bernie_Sanders">Bernie Sanders</a> (I)</p>

    <p>Important Links:</p>
    <p><a href="/List">List of States</a></p>
    <p><a href="/Key">Party Abbreviation Key</a></p>

    {{> footer}}
  </body>
</html>
