<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>West Virginia</title>
  </head>

  <body>
    <h1>{{pageTitle}}</h1>

    <p><a href="https://en.wikipedia.org/wiki/Joe_Manchin">Joe Manchin</a> (D)</p>
    <p><a href="https://en.wikipedia.org/wiki/Shelley_Moore_Capito">Shelley Moore Capito</a> (R)</p>

    <p>Important Links:</p>
    <p><a href="/List">List of States</a></p>
    <p><a href="/Key">Party Abbreviation Key</a></p>

    {{> footer}}
  </body>
</html>
